h1 {
    font-size: 5em;
}
body {
    background:#dfe6e9;
}
.blog-post p {
    background: #b2bec3;
    padding: 30px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.blog-post:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.blog-post h3 {
    margin-left: 20px 30px;
    background: #636e72;
    width: 100%;
    display: flex;
    justify-content: center;
}
.blog-visited {
    margin-left: 20px 30px;
    background: #636f90;
    width: 500px;
}
.fas {
    color: red;
    font-size: 30px;
    margin-left: 10px;
}
.link-class a {
    padding: 0px 10px;
    text-decoration: none;
    font-size: 20px;
    border-right: 2px solid black;
    margin-bottom: 10px;
}
.link-class {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.blog-post-wrapper {
    margin: 0px 10px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blog-post-author {
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.table-class {
    font-weight: bold;
    font-size: 20px;
    border: 2px solid red;
}
table {
    width: 100%;
}
th {
    font-weight: bold;

}
tr {
    border: 20px solid black;
    padding: 10px;
    color: blue;
    text-align: center;
}
td {
    border: 1px solid black;
    padding: 10px;
    align-items: center;
}
tr:nth-child(even) {
    background-color: grey;
}